:host {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 15px;
  }

  .cart {
    display: flex;
    align-items: center;

    svg {
      width: 30px;
      height: 30px;
    }

    span {
      margin-left: 10px;
      font-size: 20px;
    }
  }
}
